@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}


body{
background-color: #222222;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.head{
display: flex;
flex-direction: row;
position: relative;
background: #222222;
}  

#back_but{
margin-left: 50px; 
margin-top: 50px;
height: 70px; 
padding: 0;
border: 0;
}

#achi{
font-family: 'Open Sans', sans-serif;
font-size: 50px;
margin-top: 55px;
margin-left: 245px;
color: #ffffff;
}


#main_block{
width: 875px;
height: 1305px;
margin-top: 5%;
margin-left:5%;
background: #303030;
backdrop-filter: blur(4px);

border-radius: 10px;
}

#sod_main_block{
    display: flex;
    flex-direction: column;
}

#main_block_text{
display: flex;
flex-direction: row;
}

#image1{
height: 10%;
margin-left: 50px;
margin-top: 84px;
height: 120px;
}

#text{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 13%;
    font-family: 'Open Sans', sans-serif;
}

#h1{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
}

#h2{
    font-family: 'Open Sans', sans-serif;
    margin-top: 3%;
    color: #C0C0C0;
    font-size: 30px; 
}

#string{
width: 750px;
margin-left: 5%;
margin-top: 5%;

border: solid #4A4A4A;
}

.botton-panel{
position: relative;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 100%;
height: 200px;
background: rgba(48, 48, 48, 0.7);
z-index: 3;
margin-top: 6%;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
    }
.botton-panel > a > img{
height: 80px;
width: 80px;
    }